Code - OSS/
Code/
Dharkael/
GIMP/
Microsoft/
QtProject.conf
Thunar/
Trolltech.conf
autostart/
chromium/
coc/
configstore/
dconf/
discord/
enchant/
flameshot/
gconf/
gedit/
gpicview/
gtk-2.0/
guake/
htop/
i3/
libfm/
libreoffice/
menus/
mimeapps.list
nvim/
opera/
pavucontrol.ini
pcmanfm/
pulse/
ranger/
skypeforlinux/
smplayer/
smplayerhdpi.ini
sublime-text-3/
systemd/
teams/
terminator/
vlc/
volumeicon/
xfce4/

